*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;

}
body{
    background-color: rgb(128, 186, 237);
}
 
.container{
    width:80%;
    min-height: 400px;
    border: 1px solid black;
     margin: auto;
   display: flex;
   flex-direction: column;
   background-image: url(/img/background.jpg);
}
.container .header-cont-div{
    display: flex;
    flex-direction: row;
    width:100%;
    border: 1px solid #000;
    
   

}
.header-cont-div .header{
    display: flex;
    flex-direction: row;
    flex-basis: 32%;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    

}
.header h1{
    color:white;
    font-weight: bold;
    align-items: center;
    
}
.header-cont-div .menu{
    display: flex;
    flex-direction: row;
    flex-basis: 32%;
    
}

.menu ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.menu ul a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.menu ul a:hover{
    background-color: orange;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header-cont-div .search-bar{
    margin: 10px;
    display: flex;
    flex-direction:row;
    flex-basis: 10%;
    border: 2px solid #FA7303;
    justify-content:  space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
}
input[type="text"]{
     width: 300px;
     height: 48.5px;
     border: none;
     font-size: larger;
     
     background: transparent;
     color: white;
     border-collapse: collapse  ;
}
input::placeholder{
    color: white;
}

input[type="button"]{
    border: none;
    width: 95px;
    height: 48.6px;
    border-radius: 8px ;
    background-color: orange
    ;
    /*background: transparent;
    */color: white;
    font-weight: bold;
    font-size: larger;
    -webkit-border-radius: 8px ;
    -moz-border-radius: 8px ;
    -ms-border-radius: 8px ;
    -o-border-radius: 8px ;
    /*border-collapse: collapse;
    */cursor: pointer;
}