*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    border: 1px solid #000;
    min-height: 100px;
    margin: auto;
}
 .header{
    background: #000;
    width: 100%;
    height: 60px;
}
.header h1{
    color: white;
    padding: 7px;
}
.container .menu{
    width: 100%;
    height: 60px;
    background-color: black;
    margin-top: 5px;
}
.container .menu ul{
    list-style-type: none;
    width: 100%;
}
.menu ul li{
    display: inline-block;
    padding-top: 15px;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    padding: 9px;
}
.menu ul li a:hover {
  background-color: orange;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container .slider{
    width:100%;
    min-height:300px;
}
.img-slider iframe{
    width: 100%;
    height:400px;
    margin-top: 8px;

}
.bar-cont-div{
    width:100%;
   min-height: 300px;
   margin-top: 5px;
}
.bar-cont-div .bar{
    width: 21%;
    min-height: 300px;
    float: left;
}
.bar img{
    width:100%;
    min-height: 300px;
}
.bar-cont-div .cont{
    width:78%;
    min-height: 100px;
    float: right;

}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.footer{
    width:100%;
    background-color: #000;
    height: 60px;
    /* margin-top: px; */
}
.footer p{
    line-height: 60px;
    text-align: center;
    color: white;
}
.box{
    width: 100%;
    min-height: 300px;
}
.box .hiring-desc{
    width:70%;
    float: left;
}
.hiring-desc h2{
    margin-bottom: 10px;
    color:#84C14C;
}
.hiring-desc p{
    text-align: justify;
}
.box .hiring-img{
    width:30%;
    float:right;

}
.hiring-img img{
    width:100%;
    margin-top: 35px;
    padding: 10px;
    /* border: 1px solid #000; */
    height: 370px;
}
