*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    border: 1px solid #000;
    min-height: 100px;
    margin: auto;
}
 .header{
    background: #000;
    width: 100%;
    height: 60px;
}
.header h1{
    color: white;
    padding: 7px;
}
.container .menu{
    width: 100%;
    height: 60px;
    background-color: black;
    margin-top: 5px;
}
.container .menu ul{
    list-style-type: none;
    width: 100%;
}
.menu ul li{
    display: inline-block;
    padding-top: 15px;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    padding: 9px;
}
.menu ul li a:hover {
  background-color: orange;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slider {
  width: 100%;
  min-height: 300px;
  margin-top: 5px;
}
.ism-slider ol li img{
    width: 100%;
}
