*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(183, 183, 220);
}
.box{
    width: 80%;
    min-height: 100px;
    border: 1px solid #000;
    margin: auto;
}
.form-data{
    width:100%;
    min-height: 100px;
    /* border: 1px solid #e60808; */
    padding: 10px;
}
.form-data h2{
    text-align: center;
    font-size: 32px;    
    font-weight: 200;
}
.form-data table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.form-data table,td,tr{
    border: 1px solid #000;
    padding: 5px;

   
 input[type="text"],[type="email"],[type="number"],[type="date"]{
    width: 60%;
    padding: 8px;
    
}
select{
    width: 60%;
    padding :6px
}
.label-right{
    text-align: right;

}
.validation{
    font-size: 15px;
    font-style: italic;
    color: red;
}
#add{
    width=60%;
    padding: 5px;
}
#btn_register{
    width: 150px;
    padding: 10px 20px;
    background-color: rgb(133, 133, 227);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#btn_clear{
    width: 150px;
    padding: 10px 20px;
    background-color:tomato;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
