*{
    padding: 0;
    margin-top: 0;
      
}
.box{
  
  border: 1px solid #000;
  width:60%;
  margin: auto;
  padding: 2%;
  min-height: 100%;
}
.form_data{
  border: 1px solid red;
  padding: 2%;
  width: 60%; 
  margin: auto;
  text-align: justify;

}
